<h6><small>LIST</small></h6>
<% @rss.each do |address| %>
  <h4><small><%= link_to address.friendly_name, address %></small></h4>
<% end %>

<% if user_signed_in? %>
<p style="margin-top:32px;"><%= link_to "+ Add new", new_rssreader_path, class: "button tiny" %></p>
<% end %>