<h2>A simple RSS reader</h2>
<h5>This is a work-in-progress project. <br />Login to add and view your feeds. Oooo-yeah baby!</h5>

<p style="margin-top: 35px;"><small>Property of Serkan Mutlu. Big deal.</small></p>