<h2>A simple RSS reader</h2>
<h5>This is a work-in-progress project. Browse through RSS feeds from the menu on the left. Please don't break anything.</h5>

<p style="margin-top: 35px;"><small>Property of Serkan Mutlu. Big deal.</small></p>