<h1><%= @rssitem.friendly_name %></h1>
<% @feed.entries.each do |entry| %>
  <h3><%= link_to entry.title, entry.url, target: 'blank' %></h3>
  <p><%= sanitize entry.summary, tags: %w(a p div img strong b blockquote ul li h1 h2 h3 h4) %></p>
  <h6><small>published: <%= entry.published %></small></h6>
  <hr />
<% end %>